@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*adjust width sidebar*/
.sidebar{
  position: fixed;
  height: 100%;
  width: 210px;
  top : 0;
  left: 0;
  background: #0A2558;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details img{
  width: 70px;
  margin-top: 10px;
  margin-left: 70px;
}
.sidebar .nav-links{
  margin-top: 10px;
  overflow : visible;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .main-menu:hover{
   background: linear-gradient(135deg, #71b7e6,#9b59b6);
}

.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}

.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}

.sidebar .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0px 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.linkbutton{
  background-color: #fff;
  border-color: #707070;
  border-width: 3px;
  border-radius: 6px;
  color: black;
  padding: 10px;
  width: 100%;
  text-decoration: none;
}

.linkbutton:hover{
  background-color: #707070;
  border-color: #fff;
  color: #fff;
}

.media_icons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.media_icons a{
  position: relative;
  margin: 0 4px;
  font-size: 17px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1;
   transition: all 0.3s ease;
}

.media_icons a:hover:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.media_icons a:hover:before{
  border-radius: 50%;
}
.media_icons a:nth-child(1){
  color: #4267b2;
}
.media_icons a:nth-child(2){
  color: #e1306c;
}

.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dashboard{
  margin-left: 20px;
}

.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 150px);
  left: 150px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
/*adjust left*/
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 200px);
  left: 210px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}

.bars{
  font-size: 17px;
  color: #31344b;
  box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.bars:hover{
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
  color: #009ffd;
}

.home-section{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
  position: absolute;
}

.home-section .home-content{
  padding-top: 85px;
  padding-left: 85px;
}
.table {
    width: 100%;
}
.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container{
    position: relative;
    width: 1095px;
    height: 150px;
    border-radius: 6px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.main_title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.flex {
  display: flex;
}

.left, .right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.image1 {
  width: 350px;
  height: 430px;
  margin-top: 15px;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  margin-left: 45px;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin: 50px 0 20px 50px;
}
.container table{
 position: absolute;
 z-index: 2;
 margin-left: 400px;
 margin-top: 15%;
 margin-right: 5px;
 transform: translate(-50%,-50%);
 width: 400px; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td ,th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #ba68c8;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

.approve {
    background: linear-gradient(to right, #009ffd,#2a2a72);
}
.reject {
    background: linear-gradient(to right, #ff0000,#990000);
}

button {
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 7px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 5px;
}
button:hover{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
  .links_name{
    visibility: hidden;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
 @media(max-width: 584px){
 .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
}

@media only screen and (max-width:768px) {

  .about .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }
}

@media only screen and (max-width:768px) {

  .about p{
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

}